:root {
    --primary-color: rgba(240, 243, 245, 1);
    --primary-background: black;
    --secondary-background: rgb(31, 31, 31);
    --primary-contrast: rgb(65, 65, 65);
    --transparent: rgba(240, 243, 245, 0);
}