.children {
    float: left;
    margin-left: 200px
}
.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}
.banner {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}
.content {
    float: top;
    position: relative;
    width: 100%;
    top: 63px;
    left: 0;
}
