.banner {
    height: 63px;
    z-index: 2;
    position:relative;
    border-width: 1px;
    border-style: none none solid none;
    overflow: hidden;
    border-color: var(--primary-background);
    background-color: var(--secondary-background);
}

.bloblogo {
    position: fixed;
    /* height: 100%; */
    /* width: 100%; */
    z-index: 3;
    top: 0;
    left: 0;
}

.linkclass {
    float: right;
    margin: 0px;
    padding: 0px;
}

.loginbutton {
    margin: 13px 15px;
    background-color: var(--transparent);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.loginbutton:hover {
    animation-name: buttonhoverani;
    animation-duration: 0.3s;
    border-style: solid;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-background);
}

@keyframes buttonhoverani {
    from {
        background-color: var(--transparent);
        color: var(--primary-color);
    }
    to {
        background-color: var(--primary-color);
        color: var(--secondary-background);
    }
}
