@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
button {
    padding: 7px 32px;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
}

input[type=text],
input[type=email],
input[type=password] {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 260px;
    outline: none;
    /* overflow: auto; */
    resize: none;
    padding: 0px;
    -webkit-appearance: none;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    padding: 4px;
    background-color: var(--secondary-contrast);
    color: var(--primary-color);
    border-color: var(--secondary-contrast)
}

body {
    background-color: var(--primary-background);
}

:root {
    --very-dark: black;
    --very-bright: white;
}